<!-- Footer -->
<footer class="pt-3 mt-5">
  <div class="container top-footer pb-5">
    <div class="join-us pt-2 pb-5 border-top border-4 border-dark">
      <h2 class="text-center fs-3 fw-normal mt-4">
        Dapatkan Update Informasi Terbaru
      </h2>
      <p class="w-75 text-center m-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        doloribus alias dolor necessitatibus at accusantium dignissimos nesciunt
        repellat quo ullam?
      </p>
      <a
        href="/login"
        class="btn d-block text-center btn-info rounded-5 text-white m-auto mt-3"
        >Nyalakan Notifikasi</a
      >
    </div>
    <div class="row d-flex justify-content-between flex-wrap">
      <div class="col-md-6 desc-about">
        <h2 class="fs-2 fw-normal">Zona Ilmu</h2>
        <p class="desc-about-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
          quasi architecto obcaecati totam at ut quos eveniet ullam dignissimos
          rerum!
        </p>
        <a href="/about" class="text-success">About Us</a>
      </div>
      <div class="col-md-6 desc-follow-us">
        <h2 class="fs-2 fw-normal">Follow Us</h2>
        <div
          class="social-media d-flex justify-content-center justify-content-md-end gap-3"
        >
          <i class="text-info bi bi-youtube"></i>
          <i class="text-info bi bi-instagram"></i>
          <i class="text-info bi bi-linkedin"></i>
          <i class="text-info bi bi-facebook"></i>
        </div>
        <p class="desc-follow-us-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, eaque
          vel? Consequatur, qui laudantium? Natus veritatis corrupti tempora
          corporis explicabo?
        </p>
      </div>
    </div>
  </div>
  <div class="bottom-footer pt-4 pb-2 bg-dark">
    <p class="text-white text-center">
      2024 &copy
      <a href="/" class="text-decoration-none text-white">zonailmu.com</a>
    </p>
  </div>
</footer>
