<section class="about pt-3 pb-3">
  <div class="container">
    <span class="breadcrumb d-flex gap-2 mt-5">
      <a href="/" class="text-success">Home</a>
      <p>/</p>
      <a href="/about" class="text-success">About</a>
    </span>
    <h1 class="fs-1 fw-normal text-center">About ZonaIlmu</h1>
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <h2 class="fs-3">Siapa Kami?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          facilis at fuga omnis consectetur et quia iure temporibus in,
          voluptatibus magni culpa expedita ratione quam, veniam illo vel
          doloribus praesentium delectus explicabo voluptas numquam nesciunt
          ipsa autem? Rem ut, voluptas officia similique incidunt quis facere.
        </p>
        <h2 class="fs-3">Tujuan</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dolorem
          esse sequi distinctio voluptas quisquam recusandae, fugiat eum dolor
          quas odit nemo quasi consectetur explicabo aspernatur unde porro,
          libero, tempore iusto. Eos voluptas commodi optio, doloremque eius
          repellat facere assumenda voluptates odio praesentium rerum sit culpa!
          Accusantium natus labore repellendus.
        </p>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 img-about">
        <img src="img/logo.avif" alt="" class="w-100 h-100 rounded-circle" />
      </div>
    </div>
  </div>
</section>
