<aside class="col-lg-3 sidebar">
  <div class="row">
    <div class="col-12 border mb-4 p-3">
      <h2 class="fs-5 mb-3">Kategori <i class="bi bi-stack text-info"></i></h2>
      <div class="d-flex gap-3 flex-wrap category">
        <a
          href="/category/pertanian"
          class="text-decoration-none bg-dark ps-2 pe-2 pt-1 pb-1 rounded-5"
          >Pertanian</a
        >
        <a
          href="/category/pendidikan"
          class="text-decoration-none bg-dark ps-2 pe-2 pt-1 pb-1 rounded-5"
          >Pendidikan</a
        >
        <a
          href="/category/kesehatan"
          class="text-decoration-none bg-dark ps-2 pe-2 pt-1 pb-1 rounded-5"
          >Kesehatan</a
        >
        <a
          href="/category/teknologi"
          class="text-decoration-none bg-dark ps-2 pe-2 pt-1 pb-1 rounded-5"
          >Teknologi</a
        >
        <a
          href="/category/produk"
          class="text-decoration-none bg-dark ps-2 pe-2 pt-1 pb-1 rounded-5"
          >Produk</a
        >
      </div>
    </div>
    <div class="col-12 border mb-4 p-3">
      <h2 class="fs-5 mb-3">
        Saran <i class="bi bi-hand-thumbs-up-fill text-info"></i>
      </h2>
      <div class="rekomended-post">
        <h3 class="d-flex gap-2">
          <i class="bi bi-chevron-double-left"></i
          ><a href="/belajar-saham">Pentingnya Belajar Saham</a>
        </h3>
        <h3 class="d-flex gap-2">
          <i class="bi bi-chevron-double-left"></i
          ><a href="/bangun-karir-menjadi-software-engineer"
            >Bangun Karir Menjadi Software Engineer 2024</a
          >
        </h3>
        <h3 class="d-flex gap-2">
          <i class="bi bi-chevron-double-left"></i
          ><a href="/kuliah-pagi-atau-sore"
            >Kuliah Pagi Atau Sore? Mana Yang Bagus?</a
          >
        </h3>
        <h3 class="d-flex gap-2">
          <i class="bi bi-chevron-double-left"></i
          ><a href="/tips-utbk-snbt"
            >Tips Lulus UTBK-SNBT 2024, Jangan Lengah</a
          >
        </h3>
        <h3 class="d-flex gap-2">
          <i class="bi bi-chevron-double-left"></i
          ><a href="/tips-bisnis-dibidang-pertanian"
            >Bisnis Dibidang Pertanian, Ini Tipsnya</a
          >
        </h3>
      </div>
    </div>
  </div>
</aside>
